<div class="container-fluid">
  <h1>
    White Board
  </h1>

  <a routerLink="/login">Login |</a>
  <a routerLink="/register"> Register</a>
  <div [hidden]="!username">
    <p>Welcome, <a routerLink="/profile">{{username}}</a></p>
    <div [hidden]="username === 'admin'">
      <h2>Sections Enrolled</h2>
      <ul class="list-group">
        <li *ngFor="let enrollment of sections"
            class="list-group-item">
          {{enrollment.section.name}}
        </li>
      </ul>
    </div>
  </div>
  <app-course-grid></app-course-grid>
</div>
