<ul class="list-group">
    <li *ngFor="let widget of widgets"
        class="list-group-item">
      <div [ngSwitch]="widget.widgetType">
        <div *ngSwitchCase="'Heading'">
          <h1>HeadingWidget</h1>
          <div [ngSwitch]="widget.size">
            <h1 *ngSwitchCase="'1'">{{widget.text}}</h1>
            <h2 *ngSwitchCase="'2'">{{widget.text}}</h2>
            <h3 *ngSwitchCase="'3'">{{widget.text}}</h3>
            <h4 *ngSwitchCase="'4'">{{widget.text}}</h4>
            <h5 *ngSwitchCase="'5'">{{widget.text}}</h5>
            <h6 *ngSwitchCase="'6'">{{widget.text}}</h6>
          </div>
        </div>
        <div *ngSwitchCase="'Paragraph'">
          <h1>ParagraphWidget</h1>
          <p>{{widget.text}}</p>
        </div>
        <div *ngSwitchCase="'List'">
          <h1>ListWidget</h1>
          <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let item of widget.listItems.split('\n')">
              {{item}}
            </li>
          </ul>
        </div>
        <div *ngSwitchCase="'Image'">
          <h1>ImageWidget</h1>
          <img src="{{widget.src}}"/>
        </div>
      </div>
    </li>
</ul>

