<div class="container-fluid">

  <h1>Admin Page</h1>

  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item active">
          Courses List
        </li>
        <li *ngFor="let course of courses"
            class="list-group-item"
            (click)="findSectionsForCourse(course)">
          {{course.id}}:{{course.title}}
        </li>
      </ul>
    </div>
    <div class="col-8">
      <ul class="list-group">
        <li class="list-group-item active">
          Sections List
        </li>
        <li *ngFor="let section of sections"
            class="list-group-item">
          {{section.name}}:{{section.seats}}
        </li>
      </ul>
      <br/>
      <button (click)="createSection()"
              class="btn btn-success btn-block">
        Create Section
      </button>
      <input [(ngModel)]="sectionName"
             placeholder="Section Name"
             class="form-control"/>
      <input [(ngModel)]="seats"
             placeholder="Seats Available"
             class="form-control"/>
    </div>
  </div>

</div>
