<h2>Course Gird ({{courses.length}})</h2>

<div class="row">
  <div *ngFor="let course of courses" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">course content</p>
        <a
           routerLink="/course/{{course.id}}"
          class="btn btn-primary wbdv">View Course</a>
        <br/>
        <a routerLink="/course/{{course.id}}/section"
           class="btn btn-primary wbdv">Enroll</a>
      </div>
    </div>
  </div>
</div>
